@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #1c1c1c;
  --color-muted: #ebf0f7;
  --color-muted-foreground: #6b7280;
  --color-popover: #ffffff;
  --color-popover-foreground: #1c1c1c;
  --color-border: #d1d5db;
  --color-input: #d1d5db;
  --color-card: #ffffff;
  --color-card-foreground: #1c1c1c;
  --color-primary: #1c1c1c;
  --color-primary-foreground: #fafcff;
  --color-secondary: #ebf0f7;
  --color-secondary-foreground: #1c1c1c;
  --color-accent: #ebf0f7;
  --color-accent-foreground: #1c1c1c;
  --color-destructive: #ff0000;
  --color-destructive-foreground: #fafcff;
  --color-ring: #9299a8;
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
